@import url("https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CCourier%2BPrime%3A400%2C400italic%2C700%2C700italic&subset=latin%2Clatin-ext");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.25px;
}

::placeholder {
  color: #8c8c8e;
  opacity: 1; /* Firefox */
}

.search-field {
  position: absolute;
  z-index: 999;
  margin: 8px 0 8px 8px;
  width: 365px;
}

.form-control {
  height: 48px;
  width: 100%;
  color: #fafafc;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}

.search-field .form-control {
  background: #595959;
  padding: 0 16px 0 40px;

  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #191923;
}

.addon-icon {
  position: absolute;
  line-height: 48px;
  font-size: initial;
  padding: 0 16px;
  color: #fafafc;
}

.search-field .form-control.round-bottom {
  border-radius: 8px 8px 8px 8px;
  border-bottom: none;
}

.search-field ul {
  margin: 0;
  padding: 8px 16px;
  width: 389px;
  max-height: 240px;
  overflow-y: auto;
  background: white;
  border-radius: 0 0 8px 8px;
  border-bottom: 1px solid #dadce0;
  background-color: #595959;
  color: #dadce0;
}

.search-field ul > li {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.search-field ul > li:hover {
  cursor: pointer;
  background: #dedede;
  color: #595959;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

button.btn-danger {
  color: white;
  background: #f51505;
  border: none;
  border-radius: 4px;
}

// li.active {
//   background: #00f57d;
// }

.location-name-popup {
  position: absolute;
  z-index: 999;
  width: 400px;
  padding: 16px;
  background: white;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -82px;
  border-radius: 8px;
  background-color: #595959;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out;
}

.location-name-popup.active {
  opacity: 0.8;
  pointer-events: all;
}

.location-name-popup h4 {
  margin-bottom: 0;
}

.location-name-popup ::after {
  height: 16px;
  width: 16px;
  background-color: #595959;
  transform: rotate(-45deg);
  content: "";
  position: absolute;
  left: 208px;
  bottom: -8px;
  border-top-right-radius: 50%;
  opacity: 0.8;
}

.save-location-popup {
  position: absolute;
  z-index: 999;
  width: 400px;
  padding: 16px;
  background: white;
  bottom: 10%;
  left: 50%;
  margin-left: -200px;
  margin-top: -25px;
  border-radius: 8px;
  background-color: #595959;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out;
}

.save-location-popup.active {
  opacity: 1;
  pointer-events: all;
}

.save-location-popup .form-control {
  height: 50px;
  width: 358px;
  background: #252532;
  border: none;
  color: #fafafc;
  padding-left: 40px;
  margin-bottom: 0;
  transition: 0.4s ease-in-out;
}

.theme-btn {
  margin-top: 16px;
  height: 36px;
  font-size: 12px;
  padding: 0 35px;
  text-decoration: none;
  margin-right: 14px;
  text-transform: uppercase;
  color: #20202a;
  letter-spacing: 1.3px;
  font-weight: 600;
  border: 8px;
  transition: 0.4s ease-in-out;
}

.theme-btn span {
  align-self: center;
  transition: 0.2s ease-in-out;
}

.primary-color {
  background-color: #2c75eb;
  color: #fafafc;
}

h4 {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.2;
  color: #fafafc;
  font-family: "Poppins", sans-serif;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 17px;
  font-weight: 600;
}

button:disabled {
  background: #88bef5;
  cursor: unset;
}
